{% extends "blog/ind.html" %}
  {% block post %}
            <article class="post quote">
              <div class="post-inner">
                  <div class="post-content">
                    <header class="entry-header">
                        <h1 class="entry-title"><a>{{manga.title}}</a></h1>
                    </header>
                    <div class="entry-content">
                    <p>{{manga.author}}</p>
                    </div>
                    <div class="index-entry-footer">
                      <img src="http://static.tumblr.com/xlsgtjb/p7Yned8qd/icon-link.svg" class="icon-link">
                      <a href="{% url "post_detail" num=post.pk %}">
                        Permalink
                      </a>
                      {% if post.published_date %}
					  <p>{{ post.published_date }}</p>
					  {% endif %}
                    </div>
                  </div>
                </div>
            </article>
  {% endblock post %}
