{% extends "blog/ind.html" %}
  {% block post %}
	{% for post in posts %}
            <article class="post quote">
              <div class="post-inner">
              	<div class="coverdiv">
                  <div class="post-content">
                    <header class="entry-header">
                      
                        <h1 class="entry-title"><a href="{% url "post_detail" num=post.pk %}">{{post.title}}</a></h1>
                      
                    </header>
                    <div class="entry-content">
                    <p>{{post.text|linebreaks}}</p>
                    </div>
                    <div class="index-entry-footer">
                      <img src="http://static.tumblr.com/xlsgtjb/p7Yned8qd/icon-link.svg" class="icon-link">
                      <a href="{% url "post_detail" num=post.pk %}">
                        Permalink
                      </a>
					  <p>{{ post.published_date }}</p>
                    </div>
                  </div>
                  </div>
                </div>
            </article>
	{% endfor %}
  {% endblock post %}
	
